.all_drag_panel {
    width: 100%;
    position: absolute;
    user-select: none;
}

.all_drag_free_drag {
    position: absolute !important;
    bottom: unset !important;
    overflow: hidden!important;
}

.all_drag_slide_drag {
    position: fixed !important;
    z-index: 99999;
    overflow: hidden!important;
}
